body {
  background-color: #91f7ff;
  text-align: center;
}

button {
  background-color: lightpink;
  font-size: 50px;
  font-weight: 500;
}

#resultsbanner {
  font-size: 80px;
}

#title {
  font-size: 50px;
}
